* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 300;
  color: #777;
}

:root {
  --nav-width: 240px;
}

.App__directions {
  margin-top: 30vh;
  font-size: 30px;
  text-align: center;
  color: #888;
}

.App__nav {
  height: 100vh;
  width: var(--nav-width);
  position: absolute;
  left: calc(var(--nav-width) * -1);
  top: 0;
  background: teal;
}

.App__nav-link {
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  padding: 20px 10px;
  font-size: 20px;
  font-weight: 300;
}
